In [1]:
#import pandas as pd
import modin.pandas as mpd
from glob import glob
import numpy as np

In [3]:
import ray
ray.init()

2022-06-03 19:19:20,019	INFO services.py:1456 -- View the Ray dashboard at http://127.0.0.1:8266

RayContext(dashboard_url='127.0.0.1:8266', python_version='3.9.7', ray_version='1.12.1', ray_commit='4863e33856b54ccf8add5cbe75e41558850a1b75', address_info={'node_ip_address': '127.0.0.1', 'raylet_ip_address': '127.0.0.1', 'redis_address': None, 'object_store_address': 'tcp://127.0.0.1:63517', 'raylet_socket_name': 'tcp://127.0.0.1:61653', 'webui_url': '127.0.0.1:8266', 'session_dir': 'C:\\Users\\caisy\\AppData\\Local\\Temp\\ray\\session_2022-06-03_19-19-17_907566_78156', 'metrics_export_port': 61556, 'gcs_address': '127.0.0.1:58071', 'address': '127.0.0.1:58071', 'node_id': 'bc5299776a12671564746af964e55c315a23ed73b261d08e4e639ce2'})

In [186]:
#data = sorted(glob("data/*-divvy-tripdata.csv"))
#data

In [187]:
#%%time
#df = pd.concat(map(pd.read_csv, data))
#df.to_csv("data-combined")

In [4]:
%%time
df = mpd.read_csv("data-combined")

Wall time: 6.83 s

In [5]:
df.drop(columns= df.columns[0], axis = 1, inplace = True)

In [6]:
df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [7]:
df[["member_casual", "rideable_type", "start_station_name", "start_station_id", "end_station_name", "end_station_id"]].astype("category")

,member_casual,rideable_type,start_station_name,start_station_id,end_station_name,end_station_id
0,member,electric_bike,California Ave & Cortez St,17660,NaN,NaN
1,member,electric_bike,California Ave & Cortez St,17660,NaN,NaN
2,member,electric_bike,California Ave & Cortez St,17660,NaN,NaN
3,member,electric_bike,California Ave & Cortez St,17660,NaN,NaN
4,casual,electric_bike,California Ave & Cortez St,17660,NaN,NaN
...,...,...,...,...,...,...
5595058,casual,electric_bike,Canal St & Madison St,13341,NaN,NaN
5595059,member,electric_bike,Canal St & Madison St,13341,Kingsbury St & Kinzie St,KA1503000043
5595060,member,electric_bike,Canal St & Madison St,13341,Dearborn St & Monroe St,TA1305000006
5595061,member,electric_bike,Lawndale Ave & 16th St,362.0,NaN,NaN
5595062,member,classic_bike,Michigan Ave & Jackson Blvd,TA1309000002,Dearborn St & Monroe St,TA1305000006

In [8]:
df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E19E6F1B8D4C42ED,electric_bike,2021-01-23 16:14:19,2021-01-23 16:24:44,California Ave & Cortez St,17660,NaN,NaN,41.900341,-87.696743,41.890000,-87.720000,member
1,DC88F20C2C55F27F,electric_bike,2021-01-27 18:43:08,2021-01-27 18:47:12,California Ave & Cortez St,17660,NaN,NaN,41.900333,-87.696707,41.900000,-87.690000,member
2,EC45C94683FE3F27,electric_bike,2021-01-21 22:35:54,2021-01-21 22:37:14,California Ave & Cortez St,17660,NaN,NaN,41.900313,-87.696643,41.900000,-87.700000,member
3,4FA453A75AE377DB,electric_bike,2021-01-07 13:31:13,2021-01-07 13:42:55,California Ave & Cortez St,17660,NaN,NaN,41.900399,-87.696662,41.920000,-87.690000,member
4,BE5E8EB4E7263A0B,electric_bike,2021-01-23 02:24:02,2021-01-23 02:24:45,California Ave & Cortez St,17660,NaN,NaN,41.900326,-87.696697,41.900000,-87.700000,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5595058,847431F3D5353AB7,electric_bike,2021-12-12 13:36:55,2021-12-12 13:56:08,Canal St & Madison St,13341,NaN,NaN,41.882289,-87.639752,41.890000,-87.610000,casual
5595059,CF407BBC3B9FAD63,electric_bike,2021-12-06 19:37:50,2021-12-06 19:44:51,Canal St & Madison St,13341,Kingsbury St & Kinzie St,KA1503000043,41.882123,-87.640053,41.889106,-87.638862,member
5595060,60BB69EBF5440E92,electric_bike,2021-12-02 08:57:04,2021-12-02 09:05:21,Canal St & Madison St,13341,Dearborn St & Monroe St,TA1305000006,41.881956,-87.639955,41.880254,-87.629603,member
5595061,C414F654A28635B8,electric_bike,2021-12-13 09:00:26,2021-12-13 09:14:39,Lawndale Ave & 16th St,362.0,NaN,NaN,41.860000,-87.720000,41.850000,-87.710000,member
5595062,37AC57E34B2E7E97,classic_bike,2021-12-13 08:45:32,2021-12-13 08:49:09,Michigan Ave & Jackson Blvd,TA1309000002,Dearborn St & Monroe St,TA1305000006,41.877850,-87.624080,41.881320,-87.629521,member

In [9]:
df.started_at = mpd.to_datetime(df.started_at)
df.ended_at = mpd.to_datetime(df.ended_at)

In [ ]:
df.loc[df.started_at > df.ended_at, ["started_at", "ended_at"]] = df.loc[df.started_at > df.ended_at, ["ended_at", "started_at"]].values

In [10]:
df.start_station_name.unique()

array(['California Ave & Cortez St', 'Halsted St & North Branch St',
       'Glenwood Ave & Touhy Ave', 'Michigan Ave & 8th St',
       'Shedd Aquarium', 'Sedgwick St & North Ave',
       'Rush St & Hubbard St', 'Campbell Ave & Montrose Ave',
       'State St & Harrison St', 'Sheffield Ave & Fullerton Ave',
       'State St & Pearson St', 'Damen Ave & Leland Ave',
       '2112 W Peterson Ave', 'St. Clair St & Erie St',
       'Southport Ave & Wellington Ave', 'Indiana Ave & Roosevelt Rd',
       'Lincoln Park Conservatory', 'Clark St & Armitage Ave',
       'Wood St & Augusta Blvd', 'Calumet Ave & 35th St',
       'Halsted St & Roscoe St', 'Wood St & Chicago Ave',
       'Kedzie Ave & Milwaukee Ave', 'Larrabee St & Division St',
       'Damen Ave & Cortland St', 'Halsted St & Archer Ave',
       'Honore St & Division St', 'LaSalle Dr & Huron St',
       'Lincoln Ave & Addison St', 'Cityfront Plaza Dr & Pioneer Ct',
       'Ogden Ave & Chicago Ave', 'Drake Ave & Montrose Ave',
       'Ritchie Ct & Banks St', 'Clarendon Ave & Junior Ter',
       'Orleans St & Hubbard St', 'Rush St & Superior St',
       'McCormick Place', 'Lincoln Ave & Waveland Ave',
       'Franklin St & Monroe St', 'Franklin St & Jackson Blvd',
       'Fairbanks St & Superior St', 'Halsted St & Maxwell St',
       'Damen Ave & Cullerton St', 'Michigan Ave & 14th St',
       'Noble St & Milwaukee Ave', 'Oakley Ave & Irving Park Rd',
       'Indiana Ave & 26th St', 'Greenview Ave & Fullerton Ave',
       'Loomis St & Jackson Blvd', 'Washtenaw Ave & Ogden Ave',
       'Benson Ave & Church St', 'University Ave & 57th St',
       'Logan Blvd & Elston Ave', 'Milwaukee Ave & Rockwell St',
       'Desplaines St & Jackson Blvd',
       'Orleans St & Merchandise Mart Plaza',
       'Michigan Ave & Jackson Blvd', 'Halsted St & Clybourn Ave',
       'Rhodes Ave & 32nd St', 'Marine Dr & Ainslie St',
       'Troy St & North Ave', 'Racine Ave & 15th St',
       'Wolcott Ave & Fargo Ave', 'Clark St & Chicago Ave',
       'Wells St & Polk St', 'Clark St & Wrightwood Ave',
       'Ashland Ave & Wellington Ave', 'Damen Ave & Sunnyside Ave',
       'Washtenaw Ave & Lawrence Ave', 'Paulina St & Montrose Ave',
       'Wells St & Elm St', 'New St & Illinois St',
       'Clinton St & Jackson Blvd', 'Federal St & Polk St',
       'California Ave & Francis Pl (Temp)',
       'Christiana Ave & Lawrence Ave', 'Racine Ave & 13th St',
       'Warren Park West', 'Wolcott (Ravenswood) Ave & Montrose Ave',
       'Leavitt St & Armitage Ave', 'Clark St & Elmdale Ave',
       'Wood St & 35th St', 'Clark St & Berwyn Ave',
       'Southport Ave & Wrightwood Ave', 'Wentworth Ave & 24th St (Temp)',
       'Southport Ave & Roscoe St', 'California Ave & Fletcher St',
       'Damen Ave & Walnut (Lake) St', 'Western Ave & Division St',
       'Wentworth Ave & 63rd St', 'Pulaski Rd & Eddy St (Temp)',
       'Dearborn Pkwy & Delaware Pl', 'California Ave & North Ave',
       'Richmond St & Diversey Ave', 'Halsted St & 35th St',
       'Shields Ave & 31st St', 'Racine Ave & Congress Pkwy',
       'Calumet Ave & 33rd St', 'Pine Grove Ave & Irving Park Rd',
       'Wells St & Huron St', 'Fort Dearborn Dr & 31st St',
       'Paulina St & Howard St', 'Central Park Ave & Elbridge Ave',
       'Wells St & Evergreen Ave', 'Lakeview Ave & Fullerton Pkwy',
       'Kilbourn Ave & Irving Park Rd', 'St. Louis Ave & Balmoral Ave',
       'Broadway & Belmont Ave', 'Lincoln Ave & Winona St',
       'Clark St & Drummond Pl', 'Wilton Ave & Diversey Pkwy',
       'May St & Cullerton St', 'Clinton St & 18th St',
       'Lake Shore Dr & Belmont Ave', 'Greenwood Ave & 47th St',
       'Western Ave & 24th St', 'Lincoln Ave & Fullerton Ave',
       'Wilton Ave & Belmont Ave', 'Broadway & Sheridan Rd',
       'Emerald Ave & 28th St', 'Halsted St & Willow St',
       'Clinton St & Polk St', 'Wabash Ave & 9th St',
       'Paulina St & Flournoy St', 'Racine Ave & 35th St',
       'Normal Ave & Archer Ave', 'Clark St & Columbia Ave',
       'Larrabee St & Menomonee St', 'Clark St & Lake St',
       'Damen Ave & Clybourn Ave', 'Sheffield Ave & Webster Ave',
       'Larrabee St & Oak St', 'Theater on the Lake',
       'California Ave & Lake St', 'Dorchester Ave & 49th St',
       'Smith Park', 'Woodlawn Ave & 55th St',
       'Sangamon St & Washington Blvd', 'Keystone Ave & Fullerton Ave',
       'Kildare Ave & Montrose Ave', 'Lake Shore Dr & Wellington Ave',
       'Clark St & Elm St', 'Princeton Ave & 47th St',
       'Sheffield Ave & Willow St', 'Elston Ave & Wabansia Ave',
       'Michigan Ave & Lake St', 'Mies van der Rohe Way & Chicago Ave',
       'Spaulding Ave & Division St', 'Wells St & Hubbard St',
       'Clark St & Schiller St', 'Kingsbury St & Erie St',
       'Larrabee St & North Ave', 'California Ave & Milwaukee Ave',
       'Damen Ave & Pierce Ave', 'Throop St & Taylor St',
       'Paulina Ave & North Ave', 'Bissell St & Armitage Ave',
       'Central Ave & Madison St', 'Southport Ave & Irving Park Rd',
       'Damen Ave & Division St', 'Lake Shore Dr & Diversey Pkwy',
       'Bosworth Ave & Howard St', 'Valli Produce - Evanston Plaza',
       'Campbell Ave & Fullerton Ave', 'Damen Ave & Foster Ave',
       'Kimball Ave & Belmont Ave', 'Racine Ave & Washington Blvd',
       'Wood St & Hubbard St', 'Financial Pl & Ida B Wells Dr',
       'Canal St & Adams St', 'University Library (NU)',
       'Albany Ave & 26th St', 'MLK Jr Dr & 56th St',
       'Evanston Civic Center', 'Dodge Ave & Main St',
       'Ashland Ave & Archer Ave', 'Ridge Blvd & Touhy Ave',
       'Clifton Ave & Armitage Ave', 'Artesian Ave & Hubbard St',
       'Wacker Dr & Washington St', 'Halsted St & 21st St',
       'Peoria St & Jackson Blvd', 'Sedgwick St & Webster Ave',
       'Broadway & Thorndale Ave', 'Ashland Ave & Belle Plaine Ave',
       'Canal St & Taylor St', 'LaSalle St & Jackson Blvd',
       'Morgan St & Lake St', 'Columbus Dr & Randolph St',
       'State St & Randolph St', 'Michigan Ave & Ida B Wells Dr',
       'Broadway & Cornelia Ave', 'State St & Kinzie St',
       'Dearborn St & Adams St', 'Cottage Grove Ave & Oakwood Blvd',
       'Leavitt St & Chicago Ave', 'Wentworth Ave & 35th St',
       'Western Ave & 21st St', 'Winthrop Ave & Lawrence Ave',
       'Montrose Harbor', 'Ellis Ave & 53rd St',
       'Streeter Dr & Grand Ave', 'Wood St & Milwaukee Ave',
       'Morgan St & Polk St', 'Halsted St & Polk St',
       'Maplewood Ave & Peterson Ave', 'Lake Park Ave & 56th St',
       'Damen Ave & Charleston St', 'State St & 35th St',
       'Buckingham Fountain', 'LaSalle St & Adams St',
       'Central Ave & Lake St', 'Jefferson St & Monroe St',
       'Wabash Ave & Roosevelt Rd', 'Halsted St & 69th St',
       'Latrobe Ave & Chicago Ave', 'Milwaukee Ave & Wabansia Ave',
       'Sedgwick St & Huron St', 'Ashland Ave & Grand Ave',
       'Campbell Ave & North Ave', 'California Ave & Altgeld St',
       'Clarendon Ave & Leland Ave', 'DuSable Museum',
       'Southport Ave & Clark St', 'LaSalle St & Washington St',
       'Albany Ave & Montrose Ave', 'Spaulding Ave & Armitage Ave',
       'Clark St & Bryn Mawr Ave', 'California Ave & Byron St',
       'McClurg Ct & Erie St', '900 W Harrison St',
       'Halsted St & Dickens Ave', 'Indiana Ave & 31st St',
       'Wabash Ave & Grand Ave', 'Wabash Ave & Cermak Rd',
       'Racine Ave & 18th St', 'Franklin St & Chicago Ave',
       'Clark St & Randolph St', 'Mies van der Rohe Way & Chestnut St',
       'Perry Ave & 69th St', 'Larrabee St & Kingsbury St',
       'Clinton St & Roosevelt Rd', 'Western Ave & Lunt Ave',
       'Damen Ave & Chicago Ave', 'Damen Ave & Grand Ave',
       'Central Park Ave & Ogden Ave', 'Kedzie Ave & Chicago Ave',
       'Troy St & Elston Ave', 'Lincoln Ave & Sunnyside Ave',
       'Kimbark Ave & 53rd St', 'Aberdeen St & Monroe St',
       'Green St & Madison St', 'Ashland Ave & Blackhawk St',
       'Clinton St & Lake St', 'Ada St & Washington Blvd',
       'Drake Ave & Addison St', 'Clark St & Jarvis Ave',
       'Chicago Ave & Washington St', 'Clark St & Schreiber Ave',
       'Clark St & Montrose Ave', 'Greenview Ave & Jarvis Ave',
       'MLK Jr Dr & 63rd St', 'Greenwood Ave & 79th St',
       'Ashland Ave & Wrightwood Ave', 'Racine Ave & Belmont Ave',
       'Canal St & Harrison St', 'Clark St & 9th St (AMLI)',
       'Emerald Ave & 31st St', 'Stockton Dr & Wrightwood Ave',
       'Lincoln Ave & Belmont Ave', 'Clinton St & Madison St',
       'Lake Park Ave & 35th St', 'Kedzie Ave & Bryn Mawr Ave',
       'Leavitt St & Belmont Ave', 'Hoyne Ave & Balmoral Ave',
       'Ridge Blvd & Howard St', 'Racine Ave & Garfield Blvd',
       'Vernon Ave & 79th St', 'Kosciuszko Park',
       'Hegewisch Metra Station', 'Ashland Ave & 63rd St',
       'Damen Ave & Madison St', 'Jeffery Blvd & 71st St',
       'Monticello Ave & Irving Park Rd', 'Ashland Ave & 78th St',
       'Oglesby Ave & 100th St', 'Archer (Damen) Ave & 37th St',
       'Burnham Greenway & 105th St', 'Ashland Ave & Lake St',
       'Hoyne Ave & 47th St', 'Humboldt Blvd & Armitage Ave',
       'Conservatory Dr & Lake St', 'Central St & Girard Ave',
       'Millard Ave & 26th St', 'Halsted St & 47th Pl',
       'Museum of Science and Industry', 'Kedzie Ave & Palmer Ct',
       'Ellis Ave & 55th St', 'Harper Ave & 59th St',
       'Kedzie Ave & Lake St', 'Western Ave & Walton St',
       'Western Ave & Fillmore St', 'Commercial Ave & 100th St',
       'Claremont Ave & Hirsch St', 'Clark St & Ida B Wells Dr',
       'Ashland Ave & 50th St', 'Western Ave & Monroe St',
       'Canal St & Madison St', 'Calumet Ave & 51st St',
       'Dodge Ave & Mulford St', 'Morgan St & 31st St',
       'Halsted St & Roosevelt Rd', 'State St & Van Buren St',
       'Lincolnwood Dr & Central St', 'N Green St & W Lake St',
       'Cannon Dr & Fullerton Ave', 'Cottage Grove Ave & 71st St',
       'Lawndale Ave & 111th St',
       'Winchester (Ravenswood) Ave & Balmoral Ave',
       'Calumet Ave & 21st St', 'Central Park Blvd & 5th Ave',
       'Halsted St & 56th St', 'Fairfield Ave & Roosevelt Rd',
       'Winchester Ave & Elston Ave', 'Bradley Park',
       'Sheffield Ave & Kingsbury St', 'Michigan Ave & Pearson St',
       'Michigan Ave & 114th St', 'Marshfield Ave & 44th St',
       'N Paulina St & Lincoln Ave', 'Walsh Park',
       'Central Park Ave & Bloomingdale Ave', 'Stave St & Armitage Ave',
       'LaSalle St & Illinois St', 'Greenwood Ave & 97th St', nan,
       'Desplaines St & Kinzie St', 'Greenview Ave & Diversey Pkwy',
       'Halsted St & 63rd St', 'Broadway & Barry Ave',
       'Western Ave & Leland Ave', 'Wells St & 19th St',
       'Daley Center Plaza', 'Lake Shore Dr & Ohio St',
       'Ashland Ave & Augusta Blvd', 'Lincoln Ave & Roscoe St',
       'Eastlake Ter & Rogers Ave',
       'Damen Ave & Thomas St (Augusta Blvd)',
       'Milwaukee Ave & Grand Ave', 'Wabash Ave & Wacker Pl',
       'Lake Shore Dr & North Blvd', 'Ogden Ave & Race Ave',
       'Dayton St & North Ave', 'Kingsbury St & Kinzie St',
       'Dearborn St & Monroe St', 'Wells St & Walton St',
       'Aberdeen St & Jackson Blvd', 'Larrabee St & Armitage Ave',
       'Wentworth Ave & 33rd St', 'California Ave & 21st St',
       'Halsted St & 37th St', 'Paulina St & 18th St',
       'Ashland Ave & 13th St', 'Laramie Ave & Madison St',
       'Cottage Grove Ave & 43rd St', 'Lakefront Trail & Wilson Ave',
       'MLK Jr Dr & Pershing Rd', 'Burnham Harbor', 'Ellis Ave & 60th St',
       'Ravenswood Ave & Lawrence Ave', 'Broadway & Argyle St',
       'Lincoln Ave & Diversey Pkwy', 'Central Ave & Harrison St',
       'Morgan St & 18th St', 'MLK Jr Dr & 29th St',
       'Albany Ave & Bloomingdale Ave', 'Woodlawn Ave & Lake Park Ave',
       'Indiana Ave & 40th St', 'Clark St & Lunt Ave',
       'Knox Ave & Montrose Ave', 'Clark St & Lincoln Ave',
       'Clark St & Winnemac Ave', 'Leavitt St & North Ave',
       'Leavitt St & Lawrence Ave', 'Southport Ave & Waveland Ave',
       'Lincoln Ave & Belle Plaine Ave', 'Malcolm X College',
       'Franklin St & Adams St (Temp)', 'Orleans St & Elm St',
       'Cornell Ave & Hyde Park Blvd', 'N Southport Ave & W Newport Ave',
       'Clark St & Grace St', 'Clark St & Leland Ave',
       'State St & 19th St', 'Broadway & Wilson Ave',
       'Princeton Ave & Garfield Blvd', 'Base - 2132 W Hubbard Warehouse',
       'Jeffery Blvd & 76th St', 'Shore Dr & 55th St',
       'Sheridan Rd & Noyes St (NU)', 'Sheridan Rd & Columbia Ave',
       'Bernard St & Elston Ave', 'Elizabeth (May) St & Fulton St',
       'Wells St & Concord Ln', 'Michigan Ave & Oak St',
       'Francisco Ave & Foster Ave', 'Sheridan Rd & Loyola Ave',
       'Canal St & Jackson Blvd', 'Western Ave & 28th St',
       'Western Ave & Congress Pkwy', 'State St & 29th St',
       'Loomis St & Lexington St', 'Leavitt St & Addison St',
       'Laramie Ave & Kinzie St', 'Racine Ave & Fullerton Ave',
       'Kedzie Ave & Leland Ave', 'Millennium Park',
       'Stony Island Ave & 82nd St', 'Fairbanks Ct & Grand Ave',
       'Commercial Ave & 83rd St', 'California Ave & 26th St',
       'South Shore Dr & 71st St', 'Kedzie Ave & Harrison St',
       'Ravenswood Ave & Berteau Ave', 'Ellis Ave & 58th St',
       'Kedzie Ave & 21st St', 'Marquette Ave & 89th St',
       'State St & 79th St', 'Lake Park Ave & 47th St',
       'Keystone Ave & Montrose Ave', 'Cottage Grove Ave & 111th Pl',
       'Ashland Ave & Grace St', 'Ewing Ave & Burnham Greenway',
       'Blue Island Ave & 18th St', 'Wood St & Taylor St (Temp)',
       'Sheffield Ave & Wrightwood Ave', '63rd St Beach',
       'Halsted St & 78th St', 'Western Ave & Granville Ave',
       'Cicero Ave & Flournoy St', 'Austin Blvd & Chicago Ave',
       'Malcolm X College Vaccination Site',
       'Sawyer Ave & Irving Park Rd', 'Clinton St & Tilden St',
       'South Shore Dr & 67th St', 'Stony Island Ave & 75th St',
       'Wentworth Ave & Cermak Rd', 'Eggleston Ave & 69th St',
       'Racine Ave & Wrightwood Ave', 'Vernon Ave & 107th St',
       'Warren Park East',
       'Broadway & Wilson - Truman College Vaccination Site',
       'Damen Ave & Wellington Ave', 'Halsted St & 18th St',
       'Carpenter St & Huron St', 'Phillips Ave & 83rd St',
       'Elizabeth St & 47th St', 'Dauphin Ave & 87th St',
       'Eberhart Ave & 91st St', 'Wabash Ave & 87th St',
       'Loomis St & Archer Ave', 'Clark St & Touhy Ave',
       'Wabash Ave & 16th St', 'Glenwood Ave & Morse Ave',
       'Racine Ave & 61st St', 'Cottage Grove Ave & 63rd St',
       'Franklin St & Illinois St', 'Sheridan Rd & Greenleaf Ave',
       'Larrabee St & Webster Ave', 'State St & 33rd St',
       'Adler Planetarium', 'Dearborn St & Erie St',
       'Ashland Ave & Division St', 'Kedzie Ave & Roosevelt Rd',
       'Shields Ave & 43rd St', 'Kostner Ave & Lake St',
       'Eggleston Ave & 92nd St', 'Morgan Ave & 14th Pl',
       'Ashland Ave & Pershing Rd', 'California Ave & Montrose Ave',
       'California Ave & Division St', 'Evans Ave & 75th St',
       'Sheridan Rd & Lawrence Ave', 'Clarendon Ave & Gordon Ter',
       'Central St Metra', 'Cottage Grove Ave & 78th St',
       'Prospect Sq & 91st St', 'Cottage Grove Ave & 67th St',
       'Damen Ave & Melrose Ave', 'Yates Blvd & 75th St',
       'Jeffery Blvd & 67th St', 'Cicero Ave & Lake St',
       'W Washington Blvd & N Peoria St', 'Kedzie Ave & 110th St',
       'Rhodes Ave & 71st St', 'Dauphin Ave & 103rd St', 'Field Museum',
       'Pulaski Rd & Congress Pkwy', 'Ravenswood Ave & Irving Park Rd',
       'Hale Ave & 107th St', 'W Oakdale Ave & N Broadway',
       'State St & 54th St', 'Torrence Ave & 106th St',
       'St. Louis Ave & Fullerton Ave', 'Ashland Ave & McDowell Ave',
       'Central Park Ave & North Ave', 'Morgan St & Pershing Rd',
       'Lake Park Ave & 53rd St', 'Kenton Ave & Madison St',
       'Cottage Grove Ave & 51st St', 'Halsted St & 96th St',
       'Wentworth Ave & 104th St', 'Vincennes Ave & 104th St',
       'Leavitt St & Archer Ave', 'Chicago Ave & Sheridan Rd',
       'Dorchester Ave & 63rd St', 'Stony Island Ave & 71st St',
       'Milwaukee Ave & Cuyler Ave', 'State St & 95th St',
       'Cornell Dr & Hayes Dr', 'Stony Island Ave & 64th St',
       'Ellis Ave & 83rd St', 'Wolcott Ave & Polk St',
       'Clark St & Wellington Ave', 'Sheridan Rd & Buena Ave',
       'Prairie Ave & Garfield Blvd', 'Sedgwick St & Schiller St',
       'State St & Pershing Rd', 'Damen Ave & 51st St',
       'Austin Blvd & Lake St', 'Avondale Ave & Irving Park Rd',
       'Eckhart Park', 'Stony Island Ave & South Chicago Ave',
       'Union Ave & Root St', 'Sacramento Blvd & Franklin Blvd',
       'Central Park Ave & 24th St', 'Baltimore Ave & 87th St',
       'Ogden Ave & Congress Pkwy', 'Kostner Ave & Adams St',
       'N Sheffield Ave & W Wellington Ave', 'Austin Blvd & Madison St',
       'Ashland Ave & Garfield Blvd', 'Hermitage Ave & Polk St',
       'Michigan Ave & 71st St', 'Halsted St & 51st St',
       'East End Ave & 87th St', 'Clyde Ave & 87th St',
       'Bennett Ave & 79th St', 'Indiana Ave & 103rd St', 'Rainbow Beach',
       'Halsted St & 73rd St', 'Phillips Ave & 79th St',
       'W Armitage Ave & N Sheffield Ave', 'Green St & Randolph St',
       'Desplaines St & Randolph St', 'Franklin St & Lake St',
       'Marshfield Ave & Cortland St', 'Cottage Grove Ave & 47th St',
       'Stewart Ave & 63rd St', 'Sheffield Ave & Wellington Ave',
       'Broadway & Ridge Ave', 'Broadway & Berwyn Ave',
       'Western Ave & Howard St', 'Avers Ave & Belmont Ave',
       'Clinton St & Washington Blvd', 'Broadway & Waveland Ave',
       'Budlong Woods Library', 'Racine Ave & Randolph St',
       'Damen Ave & Coulter St', 'Wabash Ave & Adams St',
       'Rush St & Cedar St', 'Pine Grove Ave & Waveland Ave',
       'Western Ave & Winnebago Ave', 'Shields Ave & 28th Pl',
       'Calumet Ave & 18th St', 'Sheridan Rd & Irving Park Rd',
       'Burling St & Diversey Pkwy', 'Seeley Ave & Roscoe St',
       'Kedzie Ave & Foster Ave', 'State St & 123rd St',
       'Avenue O & 118th St', 'Michigan Ave & Washington St',
       'Prairie Ave & 43rd St', 'May St & Taylor St',
       'Clybourn Ave & Division St', 'Ogden Ave & Roosevelt Rd',
       'Lakefront Trail & Bryn Mawr Ave', 'Lake Shore Dr & Monroe St',
       'Southport Ave & Clybourn Ave', 'Elmwood Ave & Austin St',
       'Seeley Ave & Garfield Blvd', 'Homewood Ave & 115th St',
       'Stetson Ave & South Water St', 'Wallace St & 35th St',
       'Rockwell St & Eastwood Ave',
       'Orleans St & Chestnut St (NEXT Apts)', 'Walden Pkwy & 100th St',
       'Halsted St & Wrightwood Ave', 'South Shore Dr & 74th St',
       'Sheffield Ave & Waveland Ave', 'Southport Ave & Belmont Ave',
       'Leavitt St & Division St', 'Michigan Ave & Madison St',
       'Dusable Harbor', 'Dearborn St & Van Buren St',
       'Michigan Ave & 18th St', 'Broadway & Granville Ave',
       'Big Marsh Park', 'Manor Ave & Leland Ave',
       'Delano Ct & Roosevelt Rd', 'Oakley Ave & Touhy Ave',
       'Aberdeen St & Randolph St', 'Field Blvd & South Water St',
       'Canal St & Monroe St', 'Ashland Ave & Chicago Ave',
       'Central Ave & Chicago Ave', 'Stewart Ave & 83rd St',
       'Eberhart Ave & 61st St', 'MLK Jr Dr & 83rd St',
       'Talman Ave & Addison St', 'California Ave & 23rd Pl',
       'Western Ave & Roscoe St', 'Vernon Ave & 75th St',
       'Stony Island Ave & 90th St', 'Clark St & Newport St',
       'Laflin St & Cullerton St', 'N Carpenter St & W Lake St',
       'Dodge Ave & Church St', 'Western Blvd & 48th Pl',
       'Sheridan Rd & Montrose Ave', 'Clark St & North Ave',
       'MLK Jr Dr & 47th St', 'Woodlawn Ave & 75th St',
       'Blackstone Ave & Hyde Park Blvd', 'Damen Ave & Pershing Rd',
       'Greenwood Ave & 91st St', 'Kilbourn Ave & Milwaukee Ave',
       'Cherry Ave & Blackhawk St', 'Kedzie Ave & 24th St',
       'Karlov Ave & Madison St', 'Stony Island Ave & 67th St',

In [11]:
df.info()

UserWarning: Distributing <class 'int'> object. This may take some time.

<class 'modin.pandas.dataframe.DataFrame'>
RangeIndex: 5595063 entries, 0 to 5595062
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------------------  ----------------  -----
 0   ride_id             5595063 non-null  object
 1   rideable_type       5595063 non-null  object
 2   started_at          5595063 non-null  datetime64[ns]
 3   ended_at            5595063 non-null  datetime64[ns]
 4   start_station_name  4904254 non-null  object
 5   start_station_id    4904257 non-null  object
 6   end_station_name    4855893 non-null  object
 7   end_station_id      4855893 non-null  object
 8   start_lat           5595063 non-null  float64
 9   start_lng           5595063 non-null  float64
 10  end_lat             5590292 non-null  float64
 11  end_lng             5590292 non-null  float64
 12  member_casual       5595063 non-null  object
dtypes: object(7), float64(4), datetime64[ns](2)
memory usage: 554.9 MB

In [12]:
df.loc[df.start_station_name.isna() & ~df.start_station_id.isna(), :]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
2542673,176105D1F8A1216B,electric_bike,2021-07-18 03:44:22,2021-07-18 04:12:23,NaN,13221,NaN,NaN,41.907655,-87.672552,41.950000,-87.74000,casual
3668173,DE82A15026BA3056,electric_bike,2021-09-21 18:18:59,2021-09-21 18:21:48,NaN,20215,Hegewisch Metra Station,20215,41.648500,-87.546089,41.648589,-87.54625,casual
4275692,EE197EDA4CF8CFE5,electric_bike,2021-09-22 07:14:42,2021-09-22 07:22:38,NaN,WL-008,NaN,NaN,41.867117,-87.641087,41.880000,-87.64000,casual

In [13]:
df.loc[df.start_station_id == "13221", :]["start_station_name"].unique()[0]
df.loc[2542673, "start_station_name"] = df.loc[df.start_station_id == "13221", :]["start_station_name"].unique()[0]

In [14]:
df.loc[df.start_station_id == "20215", :]["start_station_name"].unique()[0]
df.loc[3668173, "start_station_name"] = df.loc[df.start_station_id == "20215", :]["start_station_name"].unique()[0]

In [15]:
df.loc[df.start_station_id == "WL-008", :]["start_station_name"].unique()[0]
df.loc[4275692, "start_station_name"] = df.loc[df.start_station_id == "WL-008", :]["start_station_name"].unique()[0]

In [16]:
df.loc[~df.end_station_name.isna() & df.end_station_id.isna(), :]

UserWarning: `DataFrame.<lambda>` for empty DataFrame defaulting to pandas implementation.
Please refer to https://modin.readthedocs.io/en/stable/supported_apis/defaulting_to_pandas.html for explanation.
UserWarning: Distributing <class 'pandas.core.frame.DataFrame'> object. This may take some time.

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []

In [17]:
start_names = df.start_station_name.dropna().unique()
mpd.isna(start_names).sum()

0

In [18]:
#for name in start_names:
    #if len(df.start_station_id[df.start_station_name == name].unique()) != 1:
        #print(name) # Loomis St & 89th St

In [19]:
df.loc[df.start_station_id == "20102"]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
5157430,A96B8D5A111FC470,electric_bike,2021-11-29 11:55:26,2021-11-29 12:05:06,Loomis St & 89th St,20102,NaN,NaN,41.732523,-87.658098,41.720000,-87.680000,casual
5157447,D8C603CFDCB712DC,electric_bike,2021-11-24 12:12:22,2021-11-24 12:21:31,Loomis St & 89th St,20102,NaN,NaN,41.732500,-87.658089,41.720000,-87.680000,casual
5157540,DACCA274D29E2725,electric_bike,2021-11-09 12:19:28,2021-11-09 12:29:17,Loomis St & 89th St,20102,NaN,NaN,41.732497,-87.658097,41.720000,-87.680000,casual
5157626,4796E657FD1824C5,electric_bike,2021-11-12 12:23:19,2021-11-12 12:33:26,Loomis St & 89th St,20102,NaN,NaN,41.732504,-87.658045,41.720000,-87.680000,casual
5157642,C3C495436E5FCD69,electric_bike,2021-11-14 12:46:20,2021-11-14 13:21:58,Loomis St & 89th St,20102,NaN,NaN,41.732517,-87.658055,41.760000,-87.660000,casual
5218055,5CE5974F88D6A05E,electric_bike,2021-11-12 22:46:07,2021-11-12 22:54:43,Loomis St & 89th St,20102,Eggleston Ave & 92nd St,20118,41.732478,-87.658059,41.727655,-87.634872,casual
5218387,A51CC5641B0A9765,electric_bike,2021-11-05 20:55:44,2021-11-05 21:02:31,Loomis St & 89th St,20102,Eggleston Ave & 92nd St,20118,41.732526,-87.658085,41.727659,-87.634878,casual
5283362,74D58CEE65EE723F,electric_bike,2021-11-14 12:46:44,2021-11-14 13:22:17,Loomis St & 89th St,20102,NaN,NaN,41.732484,-87.658074,41.760000,-87.660000,casual
5284794,966E6B9316B99097,electric_bike,2021-11-06 12:24:51,2021-11-06 12:33:34,Loomis St & 89th St,20102,NaN,NaN,41.732490,-87.658158,41.720000,-87.680000,casual
5325533,265AA07E8BE68448,electric_bike,2021-11-13 12:16:12,2021-11-13 12:26:03,Loomis St & 89th St,20102,NaN,NaN,41.732511,-87.658077,41.720000,-87.680000,casual
5325553,8ED1C66EF5854428,electric_bike,2021-11-10 07:17:53,2021-11-10 07:41:08,Loomis St & 89th St,20102,NaN,NaN,41.732512,-87.658071,41.720000,-87.610000,casual
5360446,130CF3D934103AB5,classic_bike,2021-12-12 23:39:21,2021-12-13 00:22:12,Loomis St & 89th St,20102,Halsted St & 111th St,20127,41.732380,-87.658069,41.692263,-87.642612,casual
5459357,9C236582DC482E54,electric_bike,2021-12-03 12:26:34,2021-12-03 12:34:02,Loomis St & 89th St,20102,NaN,NaN,41.732456,-87.658109,41.720000,-87.680000,casual
5459410,724CD275FDC28F97,electric_bike,2021-12-03 08:40:24,2021-12-03 09:02:51,Loomis St & 89th St,20102,NaN,NaN,41.732497,-87.658088,41.740000,-87.660000,casual
5459437,7B5C226410C101B0,electric_bike,2021-12-10 12:04:25,2021-12-10 12:13:13,Loomis St & 89th St,20102,NaN,NaN,41.732440,-87.658099,41.720000,-87.680000,casual
5459495,8D56BE8C18CB3866,electric_bike,2021-12-05 12:15:07,2021-12-05 12:27:15,Loomis St & 89th St,20102,NaN,NaN,41.732481,-87.658090,41.720000,-87.680000,casual
5478519,FCDE747EDBC6FE29,electric_bike,2021-12-02 18:41:38,2021-12-02 18:51:40,Loomis St & 89th St,20102,Eggleston Ave & 92nd St,20118,41.732467,-87.658060,41.727634,-87.634876,casual
5479064,8562FA23A225926F,electric_bike,2021-12-17 21:07:19,2021-12-17 21:14:44,Loomis St & 89th St,20102,Eggleston Ave & 92nd St,20118,41.732408,-87.658099,41.727576,-87.634828,casual
5549053,35CDBF822038381E,electric_bike,2021-12-04 19:04:26,2021-12-04 19:10:31,Loomis St & 89th St,20102,NaN,NaN,41.732463,-87.658088,41.720000,-87.650000,casual
5549061,99D2B7DA59E21593,electric_bike,2021-12-14 16:49:01,2021-12-14 16:59:34,Loomis St & 89th St,20102,NaN,NaN,41.732448,-87.658066,41.740000,-87.680000,casual
5549945,D86D3E9FDB25EBBA,electric_bike,2021-12-09 12:22:23,2021-12-09 12:53:52,Loomis St & 89th St,20102,NaN,NaN,41.732497,-87.658079,41.720000,-87.680000,casual

In [20]:
df.start_station_id.replace(to_replace = "20102", value = "201022", inplace = True)

In [21]:
df.loc[df.start_station_name == "Loomis St & 89th St"]["start_station_id"].value_counts()

UserWarning: sort_values defaulting to pandas implementation.

201022    166
Name: start_station_id, dtype: int64

In [22]:
end_names = df.end_station_name.dropna().unique()
mpd.isna(end_names).sum()

0

In [23]:
#for name in end_names:
    #if len(df.end_station_id[df.end_station_name == name].unique()) != 1:
        #print(name)  # Loomis St & 89th St

In [24]:
df.end_station_id.replace(to_replace = "20102", value = "201022", inplace = True)

In [25]:
df.loc[df.end_station_name == "Loomis St & 89th St"]["end_station_id"]

766282     201022
766377     201022
800355     201022
800424     201022
800484     201022
            ...
5363087    201022
5464729    201022
5464885    201022
5465070    201022
5465350    201022
Name: end_station_id, Length: 129, dtype: object

In [26]:
df.drop(columns = "ride_id", axis = 1,inplace= True)

In [27]:
df

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,electric_bike,2021-01-23 16:14:19,2021-01-23 16:24:44,California Ave & Cortez St,17660,NaN,NaN,41.900341,-87.696743,41.890000,-87.720000,member
1,electric_bike,2021-01-27 18:43:08,2021-01-27 18:47:12,California Ave & Cortez St,17660,NaN,NaN,41.900333,-87.696707,41.900000,-87.690000,member
2,electric_bike,2021-01-21 22:35:54,2021-01-21 22:37:14,California Ave & Cortez St,17660,NaN,NaN,41.900313,-87.696643,41.900000,-87.700000,member
3,electric_bike,2021-01-07 13:31:13,2021-01-07 13:42:55,California Ave & Cortez St,17660,NaN,NaN,41.900399,-87.696662,41.920000,-87.690000,member
4,electric_bike,2021-01-23 02:24:02,2021-01-23 02:24:45,California Ave & Cortez St,17660,NaN,NaN,41.900326,-87.696697,41.900000,-87.700000,casual
...,...,...,...,...,...,...,...,...,...,...,...,...
5595058,electric_bike,2021-12-12 13:36:55,2021-12-12 13:56:08,Canal St & Madison St,13341,NaN,NaN,41.882289,-87.639752,41.890000,-87.610000,casual
5595059,electric_bike,2021-12-06 19:37:50,2021-12-06 19:44:51,Canal St & Madison St,13341,Kingsbury St & Kinzie St,KA1503000043,41.882123,-87.640053,41.889106,-87.638862,member
5595060,electric_bike,2021-12-02 08:57:04,2021-12-02 09:05:21,Canal St & Madison St,13341,Dearborn St & Monroe St,TA1305000006,41.881956,-87.639955,41.880254,-87.629603,member
5595061,electric_bike,2021-12-13 09:00:26,2021-12-13 09:14:39,Lawndale Ave & 16th St,362.0,NaN,NaN,41.860000,-87.720000,41.850000,-87.710000,member
5595062,classic_bike,2021-12-13 08:45:32,2021-12-13 08:49:09,Michigan Ave & Jackson Blvd,TA1309000002,Dearborn St & Monroe St,TA1305000006,41.877850,-87.624080,41.881320,-87.629521,member

In [241]:
df.to_csv("data-trimmed")